$body-background: #fff;
$button-radius: 4px;
$primary-color: rgba(211,17,69, 1);

$cm-dark-grey: #414042;
$cm-mid-grey: #6d6e71;
$cm-light-grey: #F2F2F2;
$cm-red: $primary-color;
$cm-dark-red: darken($cm-red, 8%);
$cm-copy-light: #fff;
$cm-copy-dark: #000;
$cm-table-desc: #9E9E9E;
$cm-table-detail: $cm-mid-grey;
$cm-error-color: #bfa043;

$cm-diagonal-background: linear-gradient(to bottom, white 0%, rgba(220, 221, 222, 0.7) 100%);


.ie10 {
	.grid-frame {
		overflow: auto !important;
	}
	.grid-content {
	
	}

}
