.conmet-button {
	@include border-radius(10px);
	@include button-style(
	$background: rgba(211,17,69, 1), // Background color
	$color: #fff, // Text color
	$style: solid // Can be solid or hollow
	);
	cursor: pointer;

	margin: 1.25rem;
	padding: 1rem;
	h4 {
		color: #fff;
		text-align: left;
	}
	a {
		color: #fff;
	}

}
.yes-no-button {
	text-align: left;
	font-size: .9rem;
	a {
		color: #fff !important;
		font-size: .7rem;
	}
	em {
		font-family: "Alt Gothic";
		border-right: 1px solid rgba(255,72,124,1);
		font-size: 2rem;
		font-style: normal;
		text-transform: uppercase;
		padding-right: 10px;
		margin-right: 10px;
		vertical-align: middle;
	}
	span {
		white-space: nowrap;
	}
	// em {
	//
	// 	font-size: 2rem;
	// 	font-style: normal;
	// 	text-transform: uppercase;
	//
	// 	width: 30%;
	// 	display: inline-block;
	// }
	// span {
	// 	width: 70%;
	// 	display: inline-block;
	// 	vertical-align: top;
	// }
}
.big-button {
	h4 {
		margin-right: 0px;
		padding-right: 0px;
	}
	i {
		float: right;
		padding: 10px;
		font-size: 2.5em;
	}

}
.step-bar {
	width: 100%;

	.grid-content {
		padding: 0px;
		background: #333;
		height: 39px;
	}
	.button-group {

		@include border-radius(0px)
	}
}
