@font-face {
  font-family: 'Alt Gothic';
  src: url('../fonts/AlternateGothicNo2-webfont.eot?44012786') format('embedded-opentype');
  src: url('../fonts/AlternateGothicNo2-webfont.eot?44012786#iefix') format('embedded-opentype'),
       url('../fonts/AlternateGothicNo2-webfont.woff?44012786') format('woff'),
       url('../fonts/AlternateGothicNo2-webfont.svg?44012786') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('../fonts/steelfish_rg-webfont.eot?44012786') format('embedded-opentype');
  src: url('../fonts/steelfish_rg-webfont.eot?44012786#iefix') format('embedded-opentype'),
       url('../fonts/steelfish_rg-webfont.woff?44012786') format('woff'),
       url('../fonts/steelfish_rg-webfont.svg?44012786') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5 {
  font-style: normal;
  font-weight: normal;
	font-family: "Alt Gothic"
}
