body.rotate {
  -webkit-transform: rotate(90deg);
}
body {
	display: -ms-flexbox;
}
.main-content {
	margin-top: 2em;
	color: #fff;
	h1,h2,h3,h4,h5,h6 {
		color: #fff;
		text-align: center;
	}
}
.global-navigation {
	background: black;
	// background: $cm-diagonal-background;
	padding: 1.5rem;
	text-align: center;
	ul {
		margin-left: 0;
    list-style: none;
	}
	li {
		list-style: none !important;

	}
}
.title-bar.dark {
	background: $cm-diagonal-background;

}
.title-bar .center h2 {
	color: #fff;
	font-size: 2.2rem;
	padding-top: 1.4rem;


}
.grid-container {
	h1, h2,h3,h4,h5,h6 {
		color: #fff;
	}
}
#logo {
	img {
		width: 150px;
	}
}
a {
	p,h1,h2,h3,h4,i {
		color: #fff;
	}
}
.grid-block.footer {
	padding-top: 1.2rem;
	background: #000 !important;
	.grid-content {
		color: #fff;
		text-align: center;
	}
}
img.product-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.brake-rotor-flange {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: $cm-error-color;
	font-weight: bold;
	padding-top: 1.2rem;
}
// Splash
.splash {
	background: $cm-diagonal-background;
	.splash-title {
		margin-top: 5rem;
		text-align: center;
		font-size: 3rem;
		padding: 2rem;
		background: #000;
		h3 {
			color: $cm-mid-grey;
			font-size: 1.4rem;
		}
		h1 {
			font-family: "Steelfish";
			font-size: 3.1rem;
			line-height: 2.9rem;
		}
	}
}
.splash-footer {
	#logo {
		img {
			width: 120px;
		}
	}
}
// Details
.meta {
	position: relative;
	padding: 1.3rem;
	color: #000;
	background: #fff;
	@include clearfix;
	font-family: "Alt Gothic";
	color: $cm-mid-grey;
	font-size: 1.7rem;
	em {
		color: $primary-color;
	}
	img {
		display: inline-block;
		text-align: right;
		float: right;
	}
}
.meta:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid $cm-dark-grey;
    border-left: 20px solid #fff;
    width: 0;
}
.description {
	font-family: "Arial";
	margin-top: .2rem;
	background: #fff;
	color: $cm-mid-grey;
	padding: 1.3rem;
	text-align: justify;
	font-size: 0.7rem;
}

.specs, .parts {
	position: relative;
	padding: 1.3rem;
	h2 {
		color: $cm-copy-dark;
		text-align: left;
	}
	background: #F2F2F2;

	table {
		display: table;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		tbody {
			display: table;
			width: 100%;
		}
		tr {
			width: 100%;
			border-bottom: 1px solid #ccc;
			td {
				font-size: 1.2rem;
				padding: 1.0rem;
				font-family: "Alt Gothic";
			}
			td:first-child {
				color: $cm-table-desc;
			}
			td:last-child {
				color: $cm-table-detail;
			}
		}
		tr:last-child {
			border-bottom: none;
		}
	}
}

.parts {
  h2 {
		color: $cm-red !important;
		text-align: left;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
	}
  table {
		display: table;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;

		tbody {
			display: table;
			width: 100%;
      border-bottom: 1px solid #ccc;
		}
		tr {
      border-top: 1px solid #ccc;
      td:first-child {
				color: $cm-table-desc;
        width: 100%;
			}

		}

	}
}

.specs:before, .parts:before {
		content: '';
		position: absolute;
		top: 0; right: 0;
		border-top: 20px solid #fff;
		border-left: 20px solid $cm-light-grey;
		width: 0;
}
.figure {
	text-align: center;
	margin-bottom: 1.3rem;
	img {
		padding-bottom: 10px;
	}
	small {
		text-align:center;
		margin:1.2rem;
		padding-top: 10px;
		font-size: 1.0rem;
	}
}
.hidden {
	display:none !important;
}

div.disclaimer {
  margin-top: 30px;
  p{
    font-size: .75rem;
    color: $cm-mid-grey;
  }

}
div.not-found {
  margin: 30px;
  p{

    color: #fff;

  }
}
h2.partsSubHead {
  color: $cm-mid-grey !important;
  span.number {
    color: $cm-red !important;
  }
}
