body.rotate {
  -webkit-transform: rotate(90deg);
}
body {
	display: -ms-flexbox;
	font-family: "ArialNovaCond-Light";
	background: $cm-diagonal-background;
}
.main-content {
	color: $cm-dark-grey;
	h1,h2,h3,h4,h5,h6 {
		color: $cm-dark-grey;
		text-align: center;
	}
}
h2,h3,h4,h5,h6{
	font-family: "ArialNovaCond";
	letter-spacing: 0.02rem;
}
.global-navigation {
	background: #fff;
	// background: $cm-diagonal-background;
	padding: 1.5rem;
	text-align: center;
	ul {
		margin-left: 0;
    list-style: none;
	}
	li {
		list-style: none !important;

	}
}
.title-bar.dark {
	background: #fff;

}
.title-bar .center h2 {
	color: #fff;
	font-size: 2.2rem;
	padding-top: 1.4rem;


}
.grid-container {
	h1, h2,h3,h4,h5,h6 {
		color: $cm-dark-grey;
	}
}
#logo {
	img {
		width: 150px;
	}
}
a {
	p,h1,h2,h3,h4,i {
		color: $cm-dark-grey;
	}
}
.grid-block.footer {
	padding-top: 1.2rem;
	background: #000 !important;
	.grid-content {
		color: #fff;
		text-align: center;
	}
}
img.product-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.brake-rotor-flange {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: $cm-error-color;
	font-family: "ArialNovaCond";
	font-weight: bold;
	padding-top: 1.2rem;
}
.help {
	color: $cm-mid-grey;
	font-family: "ArialNovaCond";
	font-size: 0.8rem;
	padding-left: 0.5rem;
}
.help2 {
	color: $cm-mid-grey;
	font-family: "ArialNovaCond";
	font-size: 0.9rem;
}
// Splash
.splash {
	background: rgb(220,221,222);
	.splash-title {
		margin-top: 5rem;
		text-align: center;
		font-size: 3rem;
		padding: 2rem;
		background: #fff;
		h3 {
			color: $cm-mid-grey;
			font-size: 1.4rem;
		}
		h1 {
			font-size: 3.1rem;
			line-height: 2.9rem;
		}
	}
}
.splash-footer {
	#logo {
		img {
			width: 120px;
		}
	}
}
// Details
.meta {
	position: relative;
	padding: 1.3rem;
	color: #000;
	background: #fff;
	@include clearfix;
	color: $cm-mid-grey;
	font-size: 1.7rem;
	em {
		color: $primary-color;
	}
	img {
		display: inline-block;
		text-align: right;
		float: right;
	}
}
.meta:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid $cm-dark-grey;
    border-left: 20px solid #fff;
    width: 0;
}
.description {
	font-family: "Arial";
	margin-top: .2rem;
	background: #fff;
	color: $cm-mid-grey;
	padding: 1.3rem;
	text-align: justify;
	font-size: 0.7rem;
}

.specs, .parts {
	position: relative;
	padding: 1.3rem;
	h2 {
		color: $cm-copy-dark;
		text-align: left;
	}
	background: #F2F2F2;

	table {
		display: table;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		tbody {
			display: table;
			width: 100%;
		}
		tr {
			width: 100%;
			border-bottom: 1px solid #ccc;
			td {
				font-size: 1.2rem;
				padding: 1.0rem;
			}
			td:first-child {
				color: $cm-table-desc;
			}
			td:last-child {
				color: $cm-table-detail;
			}
		}
		tr:last-child {
			border-bottom: none;
		}
	}
}

.parts {
  h2 {
		color: $cm-red !important;
		text-align: left;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
	}
  table {
		display: table;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;

		tbody {
			display: table;
			width: 100%;
      border-bottom: 1px solid #ccc;
		}
		tr {
      border-top: 1px solid #ccc;
      td:first-child {
				color: $cm-table-desc;
        width: 100%;
			}

		}

	}
}

.specs:before, .parts:before {
		content: '';
		position: absolute;
		top: 0; right: 0;
		border-top: 20px solid #fff;
		border-left: 20px solid $cm-mid-grey;
		width: 0;
}
.figure {
	text-align: center;
	margin-bottom: 1.3rem;
	img {
		padding-bottom: 10px;
	}
	small {
		text-align:center;
		margin:1.2rem;
		padding-top: 10px;
		font-size: 1.0rem;
	}
}
.hidden {
	display:none !important;
}

div.disclaimer {
  margin-top: 30px;
  p{
    font-size: .90rem;
    color: $cm-mid-grey;
  }
}
div.not-found {
  margin: 30px;
  p{
    color: $cm-dark-grey;
  }
}
h2.partsSubHead {
  color: $cm-mid-grey !important;
  span.number {
    color: $cm-red !important;
  }
}

#disclaimer {
	background: #fff;
	.splash-title{
		margin: 0;
	}
}

#autoComplete{
	margin-top: 40px;
	input{margin: 0;}
	.menu{
		position: absolute;
		width: 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		max-height: 426px;
		overflow: auto;
		box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
		.menu-item{
			color: $cm-mid-grey;
			text-transform: uppercase;
			padding: 8px 10px;
			border-bottom: 1px solid #ccc;
		}
		.item{
			min-height: 40px;
			background: #fff;
            line-height: 40px;
			padding-left: 15px;
		}
	}
}

.flex-row{display: -webkit-flex;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;-moz-flex-flow: row wrap;flex-flow: row wrap;}

#hubAssemblyResult{
	font-weight: bold;
	h1{font-size: 30px;font-weight: bold;}
	.grid-content{
		padding: 0;
		text-align: center;
		.small-12{
			.details {
				min-height: inherit !important;
				ul {
					margin: 0 auto !important;
					width: 49%;
				}
			}
		}
		.small-6,.small-12{
			float: left;
			padding: 0 5px;
			img{margin-bottom: 10px;min-height: 165px;}
			.general-button{font-size: 1.2em;border-radius: 0;padding: 15px 10px;font-weight: bold;}
			.type{font-size: 22px;}
			.number{font-size: 24px;}
			.details{
				margin-top: 15px;
				min-height: 140px;
				div{font-size: 24px;}
				ul{font-size: 18px;margin: 0;text-align: left; list-style-position: inside;}
			}
		}
		.optional-spindle{
			display: block;
			width: 100%;
			margin: 15px 0 9px;
			font-size: 18px;
		}
	}
	.disclaimer{
		font-size: 20px;
		color: #c00000;
		margin: 15px 0;
		text-align: center;
	}
	.note{
		font-size: 15px;
		text-align: center;
		margin-bottom: 10px;
	}

}